/*declares pseudo-variables to be used throughout my stylesheet*/
:root {
    --pri-colour: #c22f42;
    --sec-colour: #e6e9ed;
    --acc-colour: #434a54;
    }

    /*set my background colour to secondary colour and set padding and margin to 0 to remove the default padding and margin of the browser.
    set my font family and max-width to stop things from going off the page*/
* {
    background-color: var(--sec-colour);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 100%;
   
}

/*set my header to have a background colour of accent colour and padding of 15px to make it larger.*/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--acc-colour);
    padding: 15px;

}


/*set my h1 to have a background colour of my primary colour and a colour of my secondary colour. set padding to 10px to make it larger.
changed my display to inline block to allow my navbar some space and have it sit right of the h1. Margin left is set at a negative value to move
my h1's box to the very edge of my page. Changed font size as I wanted my h1 bigger*/
h1 {
    background-color: var(--pri-colour);
    color: var(--sec-colour);
    padding: 10px; 
    display: inline-block;
    margin-left: -15px; 
    font-size: 40px;
    text-align: center;
}

/*set my display to flex allowing my nav items to sit next to each other and for responsiveness. added padding to bring my links
further down and changed colour and background colours to suit*/
nav {
    display: flex;
    padding-top: 25px;
    background-color: var(--acc-colour);
    color: var(--acc-colour);
}

/*set my display to flex allowing my nav items to sit next to each other and for responsiveness.
 and changed background colours to suit*/
nav ul{
   display: flex;
   background-color: var(--acc-colour);
}


/*changed colours. spaced links with padding and alligned text. got rid of bullet styles*/
nav ul li {
    background-color: var(--acc-colour);
    color: var(--sec-colour);
    list-style: none;
    padding-right: 20px;
    text-align: center;
}

/*changed colour of links. removed underline from links*/
.nav-links
{
    color: var(--sec-colour);
    background-color: var(--acc-colour);
    text-decoration: none;
}

/*aligned text and changed colour. spaced text using margin. changed font size*/
.sub-Heading {
    color: var(--pri-colour);
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/*Styling for subheadings decorative lines. Border radius gives a rounded look*/
.line1 {
    width: 20%;
    padding-bottom: 3px;
    background-color: var(--pri-colour);
    margin: 0 auto;
    border-radius: 2px;
}

.line2 {
    width: 40%;
    padding-bottom: 3px;
    background-color: var(--pri-colour);
    margin: 25px auto;
    border-radius: 2px;
}

/*flex makes my containers appear next to one another*/
#abt-me {
    display: flex;
    align-items: flex-start;
}

/*changed display to flex and flex-direction to column to make my paragraphs appear under each other*/
#paragraphs {
    display: flex;
    flex-direction: column;
}

/*changed colour to accent-colour and added line-height*/
.paragraph-styling {
color: var(--acc-colour);
line-height: 30px;
margin-bottom: 20px;
}

/*made my image smaller to fit website's needs. added a margin to the left and top to move image away from the edge of the page and lines. 
rotated the image and added a box shadow*/
#profile-pic {

    width: 30%;
    margin-left: 50px;
    margin-top: 40px;
    transform: rotate(100deg);
    box-shadow: 10px 10px 5px grey;
}


/*aligned text and changed colour. spaced text using margin. changed font size*/
.main-subheading {
    color: var(--pri-colour);
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 100px;
}

/*Styling for my container. Flex allows the child elements to shrink and grow according to the websites needs. justify content
allows my image to sit in the center. margin spaces it out */
 .prework-image-container {
    display: flex;
    justify-content: center;
    margin: 32px auto 10px auto;
    margin-top: 32px;
    margin-bottom: 10px;
 }

 /*previously used styles with the addition of background-image and styling. Background image allows my container link to hold a 
 background image within. background-position shows which part of the image is within view. background-size allows the entire image 
 to cover the container*/
 .prework-image {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/study-guide.png');
    background-position: center;
    height: 400px;
    width: 50%;
    border: 6px solid var(--pri-colour);
 }

 /*Styling and positioning for the rectangular header within my image*/
 .image-heading {
    background-color: var(--pri-colour);
    color: var(--sec-colour);
    padding: 10px; 
    display: inline-block; 
    font-size: 35px;
    text-align: center;
 }


/*this container allows my bottom 2 images to sit side by side*/
.image-container2 {
    display: flex;
}

/*refer to prework-image for info. this time added a percentage parameter to my background-position to decide which specific 
part of the image is shown*/
 .prework-image-var2 {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/cheet-sheet.png');
    background-position: center 8%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 47%;
    border: 6px solid var(--pri-colour);

 }

 /*same as prework-image-var2 with slight adjustments to image positioning. could of combined into a class but kept individual
 classes for future layout designs as my portfolio grows and more work is added*/
 .image-var3 {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/game.png');
    background-position: center 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 47%;
    border: 6px solid var(--pri-colour);

 }

 .image-var3:hover,
 .prework-image-var2:hover,
 .prework-image:hover{
    box-shadow: 10px 5px 15px var(--pri-colour);
    opacity: 0.7;
 }

 /*adjusted image-3's positioning and font size to prevent h2 extending past it's container*/
 .image-var3 h2 {
    max-width: 92.5%;
    font-size: 30px;
 }

/*removed all text decoration from links*/
 a {
    text-decoration: none;
 }

/*adjusted margin bottom on contact me's line 2 to create a larger space for the heading to sit*/
 #contact-me .line2 {
    margin-top: 50px;
 }

 #contact-me .main-subheading {
    margin: 50px auto;
 }

 /*links sit 50px below subheading and 33% apart from each other space between puts them closer together*/
 .contact-links {
    display: flex;
    justify-content: space-between;
    margin: 50px  33%;
 }

 /*gives links an underline and adjusts thickness to make it larger. offset links to add space between underline and links*/
 .link-styling {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: var(--pri-colour);
    font-size: large;
 }

 /*responsive design media queries. entire first section is set in flex column*/
 @media (max-width: 900px) {
    .contact-links,
    .image-container2,
    #abt-me {
        flex-direction: column;
      
    }
 }

    /*responsive design media queries. set my links to be 20px apart*/
 @media (max-width: 900px) {
    .link-styling {
        margin: 0 auto 20px;
        
    }
 }

    /*responsive design media queries. adjusted my profile pic so that it is sitting upright. removed box shadow styling 
    and set margin to put it undeer my about me heading*/
 @media (max-width: 900px) {
   #profile-pic {
    transform: rotate(90deg);
    width: 100%;
    box-shadow: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-top: 60px;
    
   }
    }
    
    /*added margin to my paragraphs to set them apart from each other aswell as keeping them from touvhing my profile image*/
    @media (max-width: 900px) {
        .paragraph-styling {
            margin: 100px 20px
        }
    }
 
     