/*declares pseudo-variables to be used throughout my stylesheet*/
:root {
    --pri-colour: #c22f42;
    --sec-colour: #e6e9ed;
    --acc-colour: #434a54;
    }

    /*set my background colour to secondary colour and set padding and margin to 0 to remove the default padding and margin of the browser.
    set my font family and max-width to stop things from going off the page*/
* {
    background-color: var(--sec-colour);
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 100%;
   
}

/*set my header to have a background colour of accent colour and padding of 15px to make it larger.*/
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--acc-colour);
    padding: 15px;

}


/*set my h1 to have a background colour of my primary colour and a colour of my secondary colour. set padding to 10px to make it larger.
changed my display to inline block to allow my navbar some space and have it sit right of the h1. Margin left is set at a negative value to move
my h1's box to the very edge of my page. Changed font size as I wanted my h1 bigger*/
h1 {
    background-color: var(--pri-colour);
    color: var(--sec-colour);
    padding: 10px; 
    display: inline-block;
    margin-left: -15px; 
    font-size: 40px;
    text-align: center;
}

nav {
    display: flex;
    padding-top: 25px;
    background-color: var(--acc-colour);
    color: var(--acc-colour);
}


nav ul{
   display: flex;
   background-color: var(--acc-colour);
}



nav ul li {
    background-color: var(--acc-colour);
    color: var(--sec-colour);
    list-style: none;
    padding-right: 20px;
    text-align: center;
}

.nav-links
{
    color: var(--sec-colour);
    background-color: var(--acc-colour);
    text-decoration: none;
}


.sub-Heading {
    color: var(--pri-colour);
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.line1 {
    width: 20%;
    padding-bottom: 3px;
    background-color: var(--pri-colour);
    margin: 0 auto;
    border-radius: 2px;
}

.line2 {
    width: 40%;
    padding-bottom: 3px;
    background-color: var(--pri-colour);
    margin: 25px auto;
    border-radius: 2px;
}

/*flex makes my containers appear next to one another*/
#abt-me {
    display: flex;
    align-items: flex-start;
}

/*changed display to flex and flex-direction to column to make my paragraphs appear under each other*/
#paragraphs {
    display: flex;
    flex-direction: column;
}

/*changed colour to accent-colour and added line-height*/
.paragraph-styling {
color: var(--acc-colour);
line-height: 30px;
margin-bottom: 20px;
}

/*made my image smaller to fit website's needs. added a margin to the left and top to move image away from the edge of the page and lines. 
rotated the image and added a box shadow*/
#profile-pic {

    width: 30%;
    margin-left: 50px;
    margin-top: 40px;
    transform: rotate(100deg);
    box-shadow: 10px 10px 5px grey;
}



.main-subheading {
    color: var(--pri-colour);
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 100px;
}

#my-work .line1,
#my-work .line2 {
    background-color: var(--pri-colour);
 } 

 .prework-image-container {
    display: flex;
    justify-content: center;
    margin: 32px auto 10px auto;
    margin-top: 32px;
    margin-bottom: 10px;
 }
 .prework-image {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/study-guide.png');
    background-position: center;
    height: 400px;
    width: 50%;
    border: 6px solid var(--pri-colour);
 }

 .image-heading {
    background-color: var(--pri-colour);
    color: var(--sec-colour);
    padding: 10px; 
    display: inline-block; 
    font-size: 35px;
    text-align: center;
 }

 .img-large {
    width: 50%;
    border: 3px solid var(--pri-colour);
    border-radius: 5px;
 }

.image-container2 {
    display: flex;
}

 .prework-image-var2 {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/cheet-sheet.png');
    background-position: center 8%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 47%;
    border: 6px solid var(--pri-colour);

 }

 .image-var3 {
    display: flex; 
    align-items: center;
    background-size: cover;
    background-image: url('../images/game.png');
    background-position: center 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 47%;
    border: 6px solid var(--pri-colour);

 }


 a {
    text-decoration: none;
 }

 #contact-me .line2 {
    margin-top: 50px;
 }

 #contact-me .main-subheading {
    margin: 50px auto;
 }

 .contact-links {
    display: flex;
    justify-content: space-between;
    margin: 50px  33%;
 }

 .link-styling {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: var(--pri-colour);
    font-size: large;
 }

 @media (max-width: 900px) {
    .contact-links,
    .image-container2,
    #abt-me {
        flex-direction: column;
      
    }
 }

 @media (max-width: 900px) {
    .link-styling {
        margin: 0 auto 20px;
        
    }
 }

 @media (max-width: 900px) {
   #profile-pic {
    transform: rotate(90deg);
    width: 100%;
    box-shadow: 0px 0px 0px 0px;
    margin-left: 0px;
    margin-top: 60px;
    
   }
    }

    @media (max-width: 900px) {
        #abt-me {
            box-shadow: 0px 0px 0px 0px;
        }
        }
    
    @media (max-width: 900px) {
        .paragraph-styling {
            margin: 100px 20px
        }
    }
 
    @media (max-width: 900px) {
        #responsive-header {
            display: flex;
            flex-direction: column;
        }
        
    }
     